input {
    border: 1px solid #cccccc; 
    border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    -khtml-border-radius: 3px; 
    background: #ffffff; 
    outline: none;
    height: 24px;
    width: 500px; 
    color: #000000; 
    font-size: 11px; 
    font-family: Tahoma; 
 }